
.login-btn{
  display: flex;
}
:root {
  --primary:  口#1aac83;;
  --error:#e7195a;
}
  body {
  background:#f1f1f1;
  margin:0;
  font-family: "Poppins"
  }
  header {
  background:#fff;
  }
 
  header a {
  color:#333;
  text-decoration: none;
  }
  form.signup, form.login{
    max-width: 400px;
    margin: 40px auto;
    padding: 30px;
    
}
.me-auto{
  margin-right: 0px !important;
}
.navbar-nav{
  width: 100%;
}
.logout-btn{
  width: 100%; 
  display: flex;
  justify-content: end;
  align-items: center;
}
.profile{
  padding-right: 15px;
}
@media (max-width:991px) {
  .logout-btn{
    width: 100%; 
    display: flex;
    justify-content: start;
    }
    .login-btn{
      display: flex;
      flex-direction: column;
    }
    
}
